@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

body {
  display: grid;
  grid-template-columns: 0.8fr auto;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #333;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #222;
  color: #fff;
  border-left: 1px solid #000;
  
}

#content {
  display: grid;
  grid-template-rows: 85px auto 25px;
  padding: 10px;
  background-color: #333;
}

#createp {
    background-color: #060b0c;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #333;
}

.posts .postcard {
  display: flex;
  flex-direction: column;
  color:#fff;
  background-color: #3e8fa0;
  padding: 8px;
  border: 1px solid #000;
  border-radius: 8px;
  gap: 8px;
}

.posts .postcard * {
  margin: 0;
  padding: 0;
}

.posts .postcard h2 a {
  text-decoration: none;
}

.posts .postcard p.date {
  color: #fff;
  font-size: 14px;
}

.posts .postcard p:last-child {
  margin-top: 8px;
}

.btn-login {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-login:hover {
  background-color: #222;
}

.comment {
    background-color: #222;
    border: 1px solid #000;
    border-radius: 25px;
    margin: 0px 0px 5px 5px;
    padding: 10px;
}

h1 {
    margin: 0 auto;
}

.info {
    padding: 10px;
}

.bodycom {
    padding: 10px;
}

.newcom {
    background-color: #222;
    color: #fff;
    padding: 5px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.btn-share {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-share:hover {
  background-color: #222;
}

.date1 {
    background-color: #222;
    border: 1px solid #000;
    border-radius: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 10px;
}

.postbody {
    background-color: #222;
    border: 1px solid #000;
    border-radius: 15px;
    margin-top: 0px;
    margin-bottom: 40px;
    padding: 50px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h9 {
    margin-top: 110px;
    margin-bottom: -30px;
}