{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dubrovich Site</title>
    <link rel="stylesheet" href="{% static 'css/inpage.css' %}">
</head>
<body>
    <div class="line"></div>
    <div class="rectangle">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            User: {{ user }}
                        </li>
                        <li class="list-group-item">
                            Site was made by Dubrovich
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'home' %}">Go to Home</a>
                        </li>
                    </ul>
                    {% block contentu %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
    <div class="footer1"></div>
</body>
</html>